body{
    background-color: rgb(241, 238, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    flex-direction: column;
}
.below-knowns-for{
    background-color: lightgrey;
    border: 2px solid gray;
    border-radius: 4%;
    width:300px;
}
#carouselExampleRide{
    display:flex;
    justify-content: center;
    align-content: center;
    height:550px;
    width:500px;
}
.cuisine-items{
    height:fit-content;
    width: fit-content;
    border: 2px solid gray;
    border-radius: 10%;
    background-color: lightgrey;
    margin-left: 8px;
    margin-right: 8px;
}
#cuisines{
    display: flex;
    flex-direction: row;
    padding:20px;
}